include header.jade
  ul.archive
    - var lastYear = 0
    - for(var i = 0 ; i<posts.length ; i++)
      - if(lastYear != posts[i].time.year)
        li
          h3 #{posts[i].time.year}
        - lastYear = posts[i].time.year
      li
        time #{posts[i].time.day}
      li
        a(href="/u/#{posts[i].name}/#{posts[i].time.day}/#{posts[i].title}") #{posts[i].title}