include header.jade
  ul.essay-list
    - for (var i = 0; i < posts.length; ++i)
      li.e-l-item(class="item#{i}")
        div.c-head
          a(href="/u/#{posts[i].name}/#{posts[i].time.day}/#{posts[i].title}")
            h2.c-title #{posts[i].title}
        p !{posts[i].post}
        p.info
          |阅读：#{posts[i].pv} |
          |评论：#{posts[i].comments.length} |
          //- |转载：
          //- - if (posts[i].reprint_info.reprint_to)
          //-   |#{posts[i].reprint_info.reprint_to.length}
          //- - else
          //-   |0
        p.info
          |作者：
          a(href="/u/#{posts[i].name}") #{posts[i].name}&nbsp;&nbsp;
          a(href="/u/#{posts[i].name}")
            img(src="#{posts[i].head}" class="r_head")
          |日期：#{posts[i].time.minute}
          br
          |标签：
          - for(var j = 0; j<posts[i].tags.length; j++)
            - if(posts[i].tags)
              a.tag(href="/tags/#{posts[i].tags[j]}") #{posts[i].tags[j]}
          //- - if (posts[i].reprint_info.reprint_from)
          //-   br
          //-   a(href="/u/#{posts[i].reprint_info.reprint_from.name}/#{posts[i].reprint_info.reprint_from.day}/#{posts[i].reprint_info.reprint_from.title}") 原文链接
  include paging.jade
include foot.jade